# Here I will choose folders, that I what to ignore
/presentations/
/data/Backup/
/data/Messages/
/data/Txt_data/
/data/Xlsx_data/
/Scripts/Experiments/

# Ignore OS/system files
.DS_Store
Thumbs.db

# 🧹 Optional: Python cache files (recommended if using Python)
__pycache__/
*.py[cod]
*.pyo

# 📦 Optional: Virtual environments (if you use one)
venv/
.env/