# Here I will choose folders, that I what to ignore
/Presentations/
/Data/Backup/
/Data/Messages/
/Data/Txt_data/
/Dgata/Xlsx_data/
/Scripts/Experiments/
/Data/pushups_data2.txt

# Ignore OS/system files
.DS_Store
Thumbs.db

# 🧹 Optional: Python cache files (recommended if using Python)
__pycache__/
*.py[cod]
*.pyo

# 📦 Optional: Virtual environments (if you use one)
venv/
.env/